<!DOCTYPE html>
<html>
<head>
    <title>Create Object</title>
</head>
<body>
<form method="POST" action="">
    {% csrf_token %}
    Name: <br>
    <input type="text" name="name">
    <br>
    Course: <br>
    <input type="text" name="course">
    <br>
    Week: <br>
    <input type="text" placeholder='Week01' name="week">
    <br>
    URL: <br>
    <input type="text" placeholder='www.smth.com' name="url">
    <br>
    <input type="submit" value="Submit!">
    {% if object_added %}
        <p>Your course has been added</p>
    {% endif %}
</form>
</body>
</html>