<!DOCTYPE html>
<html>
<head>
    <title>Edit Course</title>
</head>
<body>
    <h1>Course Name: {{ course.name }}</h1>
    <p>Desctiption: {{ course.description }}</p>
    <p>Start Time: {{ course.start_date }}</p>
    <p>End Time: {{ course.end_date }}</p>
    <p>Duration: {{ course.duration }}</p>
    <h2>Lectures</h2>
    <ul>
        {% for lecture in lectures %}
        <li><a href='/lecture/edit/{{lecture.id}}'>{{ lecture.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<form method="POST" action="">
    {% csrf_token %}
    {% for field in form%}
    <br>
    {{ field.label }}
    <br>
    {{ field }}
    <br>
    {% endfor %}
    <input type='submit' value="Submit">
    {% if object_added %}
        <p>Your lecture has been edited</p>
    {% endif %}
</form>
</body>
</html>