<!DOCTYPE html>
<html>
<head>
    <title>Edit Course</title>
</head>
<body>
<form method="POST" action="">
    {% csrf_token %}
    Current course name: {{ course.name }} <br>
    <input type="text" name="course_name">
    <br>
    Current description: {{ course.description }} <br>
    <input type="text" name="description">
    <br>
    Current start date: {{ course.start_date }} <br>
    <input type="date" name="start_date">
    <br>
    Current end date: {{ course.end_date }} <br>
    <input type="date" name="end_date">
    <br>
    <input type="submit" value="Submit!">
    {% if object_added %}
        <p>Your lecture has been edited</p>
    {% endif %}
</form>
<div>
    <h2>Lectures</h2>
    <ul>
        {% for lecture in lectures %}
        <li><a href='/lecture/edit/{{lecture.id}}'>{{ lecture.name }}</a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>